# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo
*.bak

# Rust / Tauri
target/
launcher/src-tauri/target/
launcher/src-tauri/gen/

# Node / Web
node_modules/
.next/
out/
dist/
.turbo/
*.log
.vercel/

# Gradle / Java
build/
.gradle/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
run/

# Env
.env
.env.local
.env.*.local

# Tauri
launcher/dist/

# Misc
*.drift-profile
*.lock~
.pnpm-store/
